<%- include('partials/header') -%>

  <main class="container">
    <div class="row justify-content-center">
      <section class="col-6 mt-5">
        <h1>
          <%= title %>
        </h1>
        <form action="/join/<%= userId %>?_method=PUT" method="POST">
          <div class="mb-3">
            <label for="passcode" class="form-label">Your Passcode:</label>
            <input type="passcode" class="form-control" id="passcode" name="passcode" />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </section>
    </div>
  </main>

  <%- include('partials/footer') -%>